name: Docker
on:
  push:
    tags:
      - 'v*'
    paths:
      - 'go.sum'
      - 'go.mod'
      - '**.go'
      - .github/workflows/docker.yml
      - dist.Dockerfile
  pull_request:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.sum'
      - 'go.mod'
      - dist.Dockerfile
      - .github/workflows/docker.yml

permissions:
  actions: write
  packages: write
  id-token: write
  attestations: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Docker:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          username: cyb3rjak3
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: cyb3rjak3/cloudflare-utils,ghcr.io/cyb3r-jak3/cloudflare-utils

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          context: .
          push: ${{ startsWith(github.ref, 'refs/tags/v') }}
          platforms: linux/amd64, linux/arm64, linux/arm/v7, linux/arm/v6, linux/386, linux/riscv64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: dist.Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          sbom: true
          provenance: mode=max

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          username: cyb3rjak3
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: cyb3rjak3/cloudflare-utils
          readme-filepath: README.md

      - name: GitHub Container Attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        id: attest
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          subject-name: ghcr.io/cyb3r-jak3/cloudflare-utils
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true