name: Golanglint CI

on:
  push:
    tags-ignore:
      - '**'
    paths:
      - '**.go'
      - .github/workflows/golangci-lint.yml
      - .golangci-lint.yml
  pull_request:
    branches:
      - main
    paths:
      - '**.go'
      - .github/workflows/golangci-lint.yml
      - .golangci-lint.yml

jobs:
  Lint:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: latest
          args: "--config .golangci-lint.yml"
